$prefix: 'toolbar-notification';

.badge {
	position: absolute;
    top: 8px;
    left: 47%;
    line-height: 13px;
    height: 1px;
    padding: 5px;
    border-radius: 100%;
    width: 1px;
    background-color: #f44336;
    color: #fff;
    border-color: #f44336;
}

