<!-- <stbui-loading *ngIf="showLoading"></stbui-loading> -->
<mat-toolbar   class="mat-elevation-z4">  
	<button mat-icon-button (click)="sidenav.toggle();drawer.toggle();" *ngIf="matDrawerShow">
        <i class="material-icons app-toolbar-menu">menu </i>
    </button>
    <img src="../../../assets/images/child-logo.png" width="36px">
    <span class="spacer"></span>
    <app-notification [notifications]="toolbarHelpers.notifications"></app-notification>
    <app-user-menu [currentUser]="toolbarHelpers.currentUser"></app-user-menu>
</mat-toolbar>